# **Rotten Tomatoes Analysis**

## **Imports**

In [1]:
import numpy as np
import pandas as pd
import re

from matplotlib import pyplot as plt
%matplotlib inline

## **Working Files**

In [2]:
rt_movie_info = pd.read_csv('data/zippedData/rt.movie_info.tsv.gz',encoding='unicode_escape', sep='\t')
rt_reviews = pd.read_csv('data/zippedData/rt.reviews.tsv.gz',encoding='unicode_escape', sep='\t')

## **High Level Analysis**

### Comment
We have 'id' and 'rating' that match up, but it is too early to tell if they have anything in common.

In [3]:
print(rt_movie_info.columns)
print()
print(rt_reviews.columns)

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')

### Comment:
There is a good chunk of missing data for 'currency', 'box office', and 'studio'. We also have other columns that have a bit of missing values. Depending on their value, I may or may not need to clean them.

In [4]:
print(f'*** rt_reviews DataFrame ***')
rt_reviews.info()

*** rt_reviews DataFrame ***
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

### Comment:
We do have some more missing values, but the biggest issues are the data types. I may need to convert them to int or float. Most likely the 'rating' column.

In [5]:
print(f'*** rt_movie_info DataFrame ***')
rt_movie_info.info()

*** rt_movie_info DataFrame ***
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

### Comment:
Rating in rt_movie_info looks to pertain to the actual movie rating. I do see we can catagorize the genre to make a graph based on that.
I don't see any value for the following columns: 'synopsis', 'currency', 'box office' (missing data, may need to talk with 
Hatice about this one), and studio (may change my mind later).

In [6]:
rt_movie_info

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [7]:
rt_reviews

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [8]:
rt_reviews['review'].notna().value_counts()

True     48869
False     5563
Name: review, dtype: int64

### Analysis Conclusion:
We do have some relatable columns! The 'id' column will come in handy when handling these datasets. The 'rating' column in rt_reviews looks to be a mess, and will take considerable time to clean. The next most useful column would be 'fresh'! Rotten Tomatoes has a rule where if the review is at LEAST 60% in rating, then it is a fresh tomato!. I'm not sure if I can get any valuable data/info from the rest of the columns. Bummer.

## **Cleaning rt_movie_info**
#### Working Variables
- rt_movie_info
- wip_genre
- dropem
- rt_movie_copy
- rt_movie_clean

In [9]:
rt_movie_info.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

### Decision:
Going over the dataset, I am going to remove the following columns: The focus is provide exploring what types of movies are CURRENTLY doing the BEST at the box office.

- 'synopsis' - I don't have a movie title and cannot go through each value to "guess" what movie it is.
- 'director' - Same as 'synopsis'. Directors can have mulitple movies. I can't make a logical guess on this.
- 'writer' - Same as above.
- 'dvd_date' - I'm looking for opening figures.
- 'currency' - Would be relevant if I had more data on 'box office'. It would be possible to see what genre makes the most money.
- 'box_office' - NEED MORE DATA!! I can't use it.
- 'studio' - I'm missing to much data. I can't make a logical guess here.

I'll aslo need to check for duplicates and get rid/alter null values

In [10]:
# creating a copy of the dataframe just in case ;)

rt_movie_copy = rt_movie_info.copy()

# Checking for duplicates
print(rt_movie_copy.duplicated().value_counts())
print(len(rt_movie_copy))

False    1560
dtype: int64
1560

In [11]:
dropem = ['synopsis', 'director', 'writer', 'dvd_date', 'currency', 
            'box_office', 'studio', 'runtime']
rt_movie_copy = rt_movie_copy.drop(dropem, 1)

rt_movie_copy

,id,rating,genre,theater_date
0,1,R,Action and Adventure|Classics|Drama,"Oct 9, 1971"
1,3,R,Drama|Science Fiction and Fantasy,"Aug 17, 2012"
2,5,R,Drama|Musical and Performing Arts,"Sep 13, 1996"
3,6,R,Drama|Mystery and Suspense,"Dec 9, 1994"
4,7,NR,Drama|Romance,NaN
...,...,...,...,...
1555,1996,R,Action and Adventure|Horror|Mystery and Suspense,"Aug 18, 2006"
1556,1997,PG,Comedy|Science Fiction and Fantasy,"Jul 23, 1993"
1557,1998,G,Classics|Comedy|Drama|Musical and Performing Arts,"Jan 1, 1962"
1558,1999,PG,Comedy|Drama|Kids and Family|Sports and Fitness,"Apr 1, 1993"
1559,2000,R,Action and Adventure|Art House and Internation...,"Sep 27, 2001"

In [12]:
rt_movie_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   rating        1557 non-null   object
 2   genre         1552 non-null   object
 3   theater_date  1201 non-null   object
dtypes: int64(1), object(3)
memory usage: 48.9+ KB

In [13]:
rt_movie_copy[rt_movie_copy['genre'].isna()]

        id rating genre theater_date
10      17    NaN   NaN          NaN
131    167    NaN   NaN          NaN
222    289     NR   NaN          NaN
250    327     NR   NaN          NaN
658    843     NR   NaN          NaN
1082  1393      R   NaN          NaN
1342  1736     NR   NaN          NaN
1543  1982    NaN   NaN          NaN

In [14]:
# These rows don't provide any value. Let's drop them.
dropem = rt_movie_copy[rt_movie_copy['genre'].isna()].index
dropem = list(dropem)
rt_movie_copy = rt_movie_copy.drop(dropem)

# I'll reset the index since we are missing rows.
rt_movie_copy = rt_movie_copy.reset_index(drop=True)

rt_movie_copy['genre'].isna().value_counts()

False    1552
Name: genre, dtype: int64

In [15]:
rt_movie_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552 entries, 0 to 1551
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1552 non-null   int64
 1   rating        1552 non-null   object
 2   genre         1552 non-null   object
 3   theater_date  1201 non-null   object
dtypes: int64(1), object(3)
memory usage: 48.6+ KB

In [16]:
# I want to most recent data, so i will need the 'theater_date' column.
# I will drop null values since I can't decern what it could be from this
# dataset.
dropem = rt_movie_copy[rt_movie_copy['theater_date'].isna()]
dropem = list(dropem.index)
rt_movie_copy = rt_movie_copy.drop(dropem)

rt_movie_copy = rt_movie_copy.reset_index(drop=True)


# Since we are looking for CURRENT film type recommendations, I'll set
# the data from 2000 to current. Also change it to datetime type.
rt_movie_copy['theater_date'] = pd.to_datetime(rt_movie_copy['theater_date'])

dropem = rt_movie_copy[rt_movie_copy['theater_date'] < '2000']
dropem = list(dropem.index)
rt_movie_copy = rt_movie_copy.drop(dropem)

# I'll need to reset the index again. Just in case.
rt_movie_copy = rt_movie_copy.reset_index(drop=True)

In [17]:
print(rt_movie_copy['theater_date'].max())
print(rt_movie_copy['theater_date'].min())

2018-10-19 00:00:00
2000-01-01 00:00:00

### Comment
I'll need to clean up the 'genre' column since it's all one string. To make it easier to play with, I'll add each genre in the row into a list using .split()

In [18]:
wip_genre = rt_movie_copy['genre'].copy()

for i in range(len(wip_genre)):
    wip_genre[i] = wip_genre[i].split('|')

rt_movie_copy['genre'] = wip_genre
rt_movie_copy

,id,rating,genre,theater_date
0,3,R,"[Drama, Science Fiction and Fantasy]",2012-08-17
1,8,PG,"[Drama, Kids and Family]",2000-03-03
2,10,PG-13,[Comedy],2002-01-11
3,13,R,[Drama],2006-04-27
4,14,R,[Drama],2010-06-30
...,...,...,...,...
514,1981,NR,"[Comedy, Drama]",2012-10-05
515,1985,R,"[Horror, Mystery and Suspense]",2007-06-01
516,1986,PG,"[Art House and International, Comedy, Drama]",2002-08-30
517,1996,R,"[Action and Adventure, Horror, Mystery and Sus...",2006-08-18
518,2000,R,"[Action and Adventure, Art House and Internati...",2001-09-27

In [19]:
rt_movie_copy['genre'].apply(type).value_counts()

<class 'list'>    519
Name: genre, dtype: int64

In [20]:
rt_movie_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            519 non-null    int64
 1   rating        519 non-null    object
 2   genre         519 non-null    object
 3   theater_date  519 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 16.3+ KB

In [21]:
rt_movie_clean = rt_movie_copy

### Clean Up Conclusion:
I have pretty much cleaned up to fit my needs. Time to start working on rt_review!

## **Cleaning rt_reviews**
#### Working Variables
- rt_reviews
- rt_reviews_copy
- dropem
- scale
- fresh_tomato
- rotten_tomato
- wip_rating
- blank_space
- backslash
- numerator
- denominator
- result
- grade_scale

#### Working functions
- set_by_fresh()
- set_default()
- check_float()

In [22]:
rt_reviews.columns

Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')

In [23]:
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

### Decision:
Going over the dataset, I am going to remove the following columns: The focus is provide exploring what types of movies are CURRENTLY doing the BEST at the box office.

- 'id' - I need this to match up with the rt_review_clean dataframe
- 'rating' - I can clean probably clean this up. It's super messy, yikes!
- 'fresh' - The most important for looking at what is popular!
- 'top_critic' - I can use this to figure out "Certified Fresh"


I'll aslo need to check for duplicates and get rid/alter null values
 - NOTE: I will need to make a function to replace the nulls with a value
    in relation to the 'fresh' column.

In [24]:
# Making a copy, just in case ;)
rt_reviews_copy = rt_reviews.copy()

# Checking for dupes!
rt_reviews_copy.duplicated().value_counts()

False    54423
True         9
dtype: int64

In [25]:
# Dropping duplicates
rt_reviews_copy.drop_duplicates(inplace=True)

In [26]:
rt_reviews_copy.columns

Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')

In [27]:
dropem = ['review', 'critic', 'publisher', 'date']
rt_reviews_copy = rt_reviews_copy.drop(dropem, 1)

#reseting index
rt_reviews_copy.reset_index(inplace=True)


rt_reviews_copy

       index    id rating   fresh  top_critic
0          0     3    3/5   fresh           0
1          1     3    NaN  rotten           0
2          2     3    NaN   fresh           0
3          3     3    NaN   fresh           0
4          4     3    NaN   fresh           0
...      ...   ...    ...     ...         ...
54418  54427  2000    NaN   fresh           1
54419  54428  2000    1/5  rotten           0
54420  54429  2000    2/5  rotten           0
54421  54430  2000  2.5/5  rotten           0
54422  54431  2000    3/5   fresh           0

[54423 rows x 5 columns]

In [28]:
rt_reviews_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54423 entries, 0 to 54422
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       54423 non-null  int64
 1   id          54423 non-null  int64
 2   rating      40907 non-null  object
 3   fresh       54423 non-null  object
 4   top_critic  54423 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.1+ MB

In [29]:
# if the review rating is at least 60% positive, it is a fresh tomato.
fresh_tomato = 0.6
rotten_tomato = 0.5


# getting rid of the NaNs from the 'rating columns and replacing with pizza
rt_reviews_copy['rating'] = rt_reviews_copy['rating'].replace(np.nan, 'pizza')

wip_rating = rt_reviews_copy['rating'].copy()

# converting everything in wip_rating to string in case there are other dtypes
for i in range(len(wip_rating)):
     wip_rating[i] = str(wip_rating[i])

In [30]:
wip_rating

0          3/5
1        pizza
2        pizza
3        pizza
4        pizza
         ...
54418    pizza
54419      1/5
54420      2/5
54421    2.5/5
54422      3/5
Name: rating, Length: 54423, dtype: object

### Comment
Now that i got rid of the duplicates and NaNs. I'll start cleaning up the 'rate' column for rt_reviews

In [31]:
# Declaring variables and functions for cleaning 'rate' column
scale = 1.0 # the max rating a review can have

def set_by_fresh(index_, series_, result_):
    """
    Compare the result_ to scale and assigns set float values
    fresh_tomato or rotten_tomato to series_ value when compared 
    to 'fresh' column. 

    Takes three arguments:
    index_: the position in the series_, int value
    series_: dataframe series
    result_: float value

    """
    if rt_reviews_copy['fresh'][index_] == 'fresh':  # Confirming that if the review is fresh
        if result_ > scale:                 # will result in a perfect score if greater
            series_[index_] = scale         # than scale
        elif result_ >= fresh_tomato:        # otherwise use score
            series_[index_] = result_
        else:
            series_[index_] = fresh_tomato
            
    else:
        if result_ < fresh_tomato:            # will set result as rating for rotten
            series_[index_] = result_
        else:                        
            series_[index_] = rotten_tomato

def set_default(index_, series_):

    """
    Sets the value in 'rate' to either a fresh or rotten tomato
    score using the 'fresh' column as a decider

    Takes two arguements:
    index_: the position in the series_, int value
    series_: dataframe series
    
    """
    if rt_reviews_copy['fresh'][index_] == 'fresh':
        series_[index_] = fresh_tomato
    else:
        series_[index_] = rotten_tomato

def check_float(potential_float):
    """
    Takes one argument and checks if it can be converted to a 
    float data type.

    Outputs True if argument can be converted to float and 
    False if not.
    """
    try:
        float(potential_float)

        return True
    except ValueError:
        return False

In [32]:
# checking if there are any blank spaces that may cause problems
blank_space = 0

for rate in wip_rating:
    if ' ' in rate:
        blank_space +=1
    else:
        pass

print(blank_space)
print(len(wip_rating))

1
54423

In [33]:
# We do have an occurance. Let's get rid of it!
wip_rating = wip_rating.str.replace(" ","")
#wip_rating = wip_rating.str.replace("/","|")



blank_space = 0

for i in wip_rating:
    if ' ' in i:
        blank_space +=1
    else:
        pass

print(blank_space)
print(len(wip_rating))

0
54423

In [34]:
wip_rating

0          3/5
1        pizza
2        pizza
3        pizza
4        pizza
         ...
54418    pizza
54419      1/5
54420      2/5
54421    2.5/5
54422      3/5
Name: rating, Length: 54423, dtype: object

In [35]:
grade_scale = {'A+': 1.0, 'A': 0.93, 'A-': 0.9, 
                'B+': 0.87, 'B': 0.83, 'B-':0.8,
                'C+': 0.77, 'C': 0.73, 'C-':0.7,
                'D+': 0.67, 'D': 0.63, 'D-':0.6,
                'F+':0.0, 'F':0.0, 'F-':0.0
                }

for i in range(len(wip_rating)):
    if '/' in wip_rating[i]: 
        backslash = wip_rating[i].find('/')                  # backslash = the index location

        numerator = float(wip_rating[i][:backslash])         # selecting the number before '/' as numerator
        denominator = float(wip_rating[i][backslash+1:])     # selecting the number after '/' as denominator

        result = (numerator / denominator)
        set_by_fresh(i, wip_rating, result)
        continue
        
    elif wip_rating[i] in grade_scale.keys():
        for grade, value in grade_scale.items():    # using grade_scale on rate
            if grade in wip_rating[i]:
                set_by_fresh(i, wip_rating, value)
                break
            else:
                continue
    elif wip_rating[i] == 'pizza':
        set_default(i, wip_rating)

    else:
        if check_float(wip_rating[i]) == True:
            set_default(i, wip_rating)
        else:
            set_default(i, wip_rating)

    

wip_rating

0        0.6
1        0.5
2        0.6
3        0.6
4        0.6
        ...
54418    0.6
54419    0.2
54420    0.4
54421    0.5
54422    0.6
Name: rating, Length: 54423, dtype: object

In [36]:
count = 0
list_errors = []
for i in range(len(wip_rating)):
    if type(wip_rating[i]) != float:
        print(wip_rating[i])
        print(i)
        list_errors.append(wip_rating[i])
        count +=1

count

0

In [37]:
rt_reviews_copy

       index    id rating   fresh  top_critic
0          0     3    3/5   fresh           0
1          1     3  pizza  rotten           0
2          2     3  pizza   fresh           0
3          3     3  pizza   fresh           0
4          4     3  pizza   fresh           0
...      ...   ...    ...     ...         ...
54418  54427  2000  pizza   fresh           1
54419  54428  2000    1/5  rotten           0
54420  54429  2000    2/5  rotten           0
54421  54430  2000  2.5/5  rotten           0
54422  54431  2000    3/5   fresh           0

[54423 rows x 5 columns]

In [38]:
rt_reviews_copy['rating'] = wip_rating

rt_reviews_copy

       index    id rating   fresh  top_critic
0          0     3    0.6   fresh           0
1          1     3    0.5  rotten           0
2          2     3    0.6   fresh           0
3          3     3    0.6   fresh           0
4          4     3    0.6   fresh           0
...      ...   ...    ...     ...         ...
54418  54427  2000    0.6   fresh           1
54419  54428  2000    0.2  rotten           0
54420  54429  2000    0.4  rotten           0
54421  54430  2000    0.5  rotten           0
54422  54431  2000    0.6   fresh           0

[54423 rows x 5 columns]

In [39]:
rt_reviews_copy['rating'][2523]

1.0

In [40]:
# String Reset
# wip_rating = rt_reviews_copy['rating'].copy()
# wip_rating = wip_rating.str.replace(" ","")

# for i in range(len(wip_rating)):
#      wip_rating[i] = str(wip_rating[i])
     
# wip_rating

In [41]:
list_errors.sort()