# Rotten Tomatoes Analysis

In [1]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
rt_movie_info = pd.read_csv('data/zippedData/rt.movie_info.tsv.gz',encoding='unicode_escape', sep='\t')
rt_reviews = pd.read_csv('data/zippedData/rt.reviews.tsv.gz',encoding='unicode_escape', sep='\t')

Checking to see if there are any relation between the two dataframes (rt_movie_info and rt_reviews)

In [3]:
rt_movie_info.sort_values(by='id')

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [4]:
rt_reviews.sort_values(by='id')

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
106,3,"Diamond-hard and dazzlingly brilliant, David C...",3.5/4,fresh,Budd Wilkins,0,Slant Magazine,"August 12, 2012"
107,3,[VIDEO ESSAY] If intellectual sarcasm is your ...,C-,fresh,Cole Smithey,0,ColeSmithey.com,"August 10, 2012"
108,3,"A sensual, propulsive thriller, the apocalypse...",4/5,fresh,Joshua Rothkopf,1,Time Out,"August 7, 2012"
109,3,"Hard to endure due to its pretentious nature, ...",1.5/5,rotten,Cameron Williams,0,The Popcorn Junkie,"August 6, 2012"
...,...,...,...,...,...,...,...,...
54407,2000,One scarcely needs the subtitles to enjoy this...,NaN,fresh,Richard Roeper,1,Ebert &amp; Roeper,"October 7, 2002"
54408,2000,"May lack the pungent bite of its title, but it...",C+,fresh,Marshall Fine,0,"Journal News (Westchester, NY)","October 5, 2002"
54409,2000,"A lightweight, uneven action comedy that freel...",NaN,rotten,Daniel Eagan,0,Film Journal International,"October 5, 2002"
54402,2000,"The film is a contrivance, as artificial as th...",B,fresh,Matt Weitz,1,Dallas Morning News,"November 14, 2002"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

The 'id' column can be used as a identifier between the two dataframes. Some movies do not have reviews, but we still would like to keep the movie info data

In [5]:
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [6]:
# Missing data: review, rating, critic, and publisher
rt_reviews_null = rt_reviews[rt_reviews['rating'].isna()]

rt_reviews_null['fresh'].value_counts()

fresh     8174
rotten    5343
Name: fresh, dtype: int64

In [7]:
rt_reviews_null['rating'] = rt_reviews_null['rating'].replace(np.nan, 0.0)
rt_reviews_null

<ipython-input-7-98732a58b5d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_null['rating'] = rt_reviews_null['rating'].replace(np.nan, 0.0)

,id,review,rating,fresh,critic,top_critic,publisher,date
1,3,It's an allegory in search of a meaning that n...,0.0,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,0.0,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,0.0,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,0.0,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,0.0,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
...,...,...,...,...,...,...,...,...
54409,2000,"A lightweight, uneven action comedy that freel...",0.0,rotten,Daniel Eagan,0,Film Journal International,"October 5, 2002"
54417,2000,"The funny thing is, I didn't mind all this con...",0.0,fresh,Andrew Sarris,1,Observer,"October 2, 2002"
54425,2000,Despite Besson's high-profile name being Wasab...,0.0,fresh,Andy Klein,0,New Times,"September 26, 2002"
54426,2000,The film lapses too often into sugary sentimen...,0.0,rotten,Paul Malcolm,1,L.A. Weekly,"September 26, 2002"
54427,2000,The real charm of this trifle is the deadpan c...,0.0,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"

In [8]:
rt_reviews_null.reset_index(inplace=True)
rt_reviews_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13517 entries, 0 to 13516
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       13517 non-null  int64
 1   id          13517 non-null  int64
 2   review      13490 non-null  object
 3   rating      13517 non-null  float64
 4   fresh       13517 non-null  object
 5   critic      12775 non-null  object
 6   top_critic  13517 non-null  int64
 7   publisher   13435 non-null  object
 8   date        13517 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 950.5+ KB

In [9]:
rt_reviews_null['rating'][0] = 1
rt_reviews_null

<ipython-input-9-539e09e85597>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_null['rating'][0] = 1
C:\Users\edelp\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3417: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,index,id,review,rating,fresh,critic,top_critic,publisher,date
0,1,3,It's an allegory in search of a meaning that n...,1.0,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
1,2,3,... life lived in a bubble in financial dealin...,0.0,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
2,3,3,Continuing along a line introduced in last yea...,0.0,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
3,4,3,... a perverse twist on neorealism...,0.0,fresh,NaN,0,Cinema Scope,"October 12, 2017"
4,5,3,... Cronenberg's Cosmopolis expresses somethin...,0.0,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
...,...,...,...,...,...,...,...,...,...
13512,54409,2000,"A lightweight, uneven action comedy that freel...",0.0,rotten,Daniel Eagan,0,Film Journal International,"October 5, 2002"
13513,54417,2000,"The funny thing is, I didn't mind all this con...",0.0,fresh,Andrew Sarris,1,Observer,"October 2, 2002"
13514,54425,2000,Despite Besson's high-profile name being Wasab...,0.0,fresh,Andy Klein,0,New Times,"September 26, 2002"
13515,54426,2000,The film lapses too often into sugary sentimen...,0.0,rotten,Paul Malcolm,1,L.A. Weekly,"September 26, 2002"
13516,54427,2000,The real charm of this trifle is the deadpan c...,0.0,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"

In [40]:
count = 0

for tomato in rt_reviews_null['fresh']:
    if tomato == 'fresh':
        rt_reviews_null['rating'][count] = 4.0
        count += 1
    else:
        rt_reviews_null['rating'][count] = 1.0
        count += 1

<ipython-input-40-88787bfe4ae7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_null['rating'][count] = 1.0
C:\Users\edelp\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3417: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-40-88787bfe4ae7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_null['rating'][count] = 4.0

In [41]:
rt_reviews_null

,index,id,review,rating,fresh,critic,top_critic,publisher,date
0,1,3,It's an allegory in search of a meaning that n...,1.0,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
1,2,3,... life lived in a bubble in financial dealin...,4.0,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
2,3,3,Continuing along a line introduced in last yea...,4.0,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
3,4,3,... a perverse twist on neorealism...,4.0,fresh,NaN,0,Cinema Scope,"October 12, 2017"
4,5,3,... Cronenberg's Cosmopolis expresses somethin...,4.0,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
...,...,...,...,...,...,...,...,...,...
13512,54409,2000,"A lightweight, uneven action comedy that freel...",1.0,rotten,Daniel Eagan,0,Film Journal International,"October 5, 2002"
13513,54417,2000,"The funny thing is, I didn't mind all this con...",4.0,fresh,Andrew Sarris,1,Observer,"October 2, 2002"
13514,54425,2000,Despite Besson's high-profile name being Wasab...,4.0,fresh,Andy Klein,0,New Times,"September 26, 2002"
13515,54426,2000,The film lapses too often into sugary sentimen...,1.0,rotten,Paul Malcolm,1,L.A. Weekly,"September 26, 2002"
13516,54427,2000,The real charm of this trifle is the deadpan c...,4.0,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"

In [42]:
rt_reviews_null['rating'].isna().value_counts()

False    13517
Name: rating, dtype: int64

In [122]:
rt_reviews_not_null = rt_reviews[rt_reviews['rating'].notna()]
rt_reviews_not_null.reset_index(inplace=True)

In [112]:
count = 0
for rate in rt_reviews_not_null['rating']:
    if len(rate) == 3: # If the length of the string is three ( 1/5 )
        if rate[-1] == '5':
            rt_reviews_not_null['rating'][count] = float(rate[0])
            count +=1
            
        elif rate[-1] == '4':
            rt_reviews_not_null['rating'][count] = (float(rate[0]) / 4)*5
            count +=1

        else:
            count +=1
            continue



    elif len(rate) == 4: # If the length of the string is four ( 0/10 )
        if rate[-2:] == '10':
            rt_reviews_not_null['rating'][count] = (float(rate[0]) / 10)*5
            count +=1
        else:
            count +=1
            continue



    elif len(rate) == 5: # If the length of the string is five ( 10/10 ; 1.0/5 )
        if rate[-1] == '5':
            rt_reviews_not_null['rating'][count] = float(rate[0:3])
            count +=1

        elif rate[-1] == '4':
            rt_reviews_not_null['rating'][count] = (float(rate[0:3]) / 4)*5
            count +=1

        elif rate[-2:] == '10':
            rt_reviews_not_null['rating'][count] = 5.0
            count +=1
            
        else:
            count+=1
            continue



    else:
        count +=1
        continue

<ipython-input-112-306b200df53e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_not_null['rating'][count] = float(rate[0])
C:\Users\edelp\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3417: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-112-306b200df53e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_not_null['rating'][count] = (float(rate[0]) / 4)*5
<ipython-input-112-306b200df53e>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_not_null['rating'][count] = (float(rate[0]) / 10)*5
<ipython-input-112-306b200df53e>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_not_null['rating'][count] = (float(rate[0:3]) / 4)*5
<ipython-input-112-306b200df53e>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_reviews_not_null['rating'][count] = float(rate[0:3])

In [121]:
rt_reviews_not_null['rating'].loc[950:1000]

950       2.5
951         6
952        D+
953         2
954       2.5
955         3
956         5
957       2.5
958         2
959      3.75
960         2
961         4
962         4
963      3.75
964      3.75
965       3.5
966         2
967        A-
968         4
969      1.25
970        C-
971     3.125
972       2.5
973         B
974        C-
975         4
976      1.25
977      3.75
978      3.75
979       3.5
980         C
981         B
982       2.5
983      3.75
984      3.75
985       2.5
986     4.375
987      3.75
988         C
989         3
990      3.75
991         5
992      3.75
993        B-
994       2.5
995      3.75
996      3.75
997         3
998         B
999     3.125
1000     3.75
Name: rating, dtype: object

In [104]:
rt_reviews_not_null['rating'].loc[15:25]

15        2
16    3.125
17     4/10
18    3.125
19     test
20     3/10
21     7/10
22        3
23        C
24       A-
25        4
Name: rating, dtype: object

In [110]:
names = '3/10202060'
names[:2]

'3/'

In [114]:
rt_reviews_not_null

,index,id,review,rating,fresh,critic,top_critic,publisher,date
0,0,3,A distinctly gallows take on contemporary fina...,3,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
2,7,3,Cronenberg is not a director to be daunted by ...,2,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
3,11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013"
4,12,3,Robert Pattinson works mighty hard to make Cos...,2.5,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013"
...,...,...,...,...,...,...,...,...,...
40910,54424,2000,Dawdles and drags when it should pop; it doesn...,1.5,rotten,Manohla Dargis,1,Los Angeles Times,"September 26, 2002"
40911,54428,2000,NaN,1,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
40912,54429,2000,NaN,2,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
40913,54430,2000,NaN,2.5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
40914,54431,2000,NaN,3,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [62]:
rt_reviews.loc[12]

id                                                            3
review        Robert Pattinson works mighty hard to make Cos...
rating                                                      2/4
fresh                                                    rotten
critic                                           Christian Toto
top_critic                                                    0
publisher                                         Big Hollywood
date                                           January 15, 2013
Name: 12, dtype: object