In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df_tratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

df_tratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [7]:
df_tbasics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

df_tbasics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [11]:
leftjoin_rating_basics = df_tratings.set_index('tconst').join(df_tbasics.set_index('tconst'), how='left', lsuffix='1', rsuffix='2')

leftjoin_rating_basics

# left joining on the ratings and basics tables since we care about the ratings of movies more than just movies that may or may not have a
# rating in these data sets. Every rating has a movie associated with it, but not vice versa

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt10356526,8.3,31,Laiye Je Yaarian,Laiye Je Yaarian,2019,117.0,Romance
tt10384606,8.9,559,Borderless,Borderless,2019,87.0,Documentary
tt1042974,6.4,20,Just Inès,Just Inès,2010,90.0,Drama
tt1043726,4.2,50352,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"
tt1060240,6.5,21,Até Onde?,Até Onde?,2011,73.0,"Mystery,Thriller"
...,...,...,...,...,...,...,...
tt9805820,8.1,25,Caisa,Caisa,2018,84.0,Documentary
tt9844256,7.5,24,Code Geass: Lelouch of the Rebellion - Glorifi...,Code Geass: Lelouch of the Rebellion Episode III,2018,120.0,"Action,Animation,Sci-Fi"
tt9851050,4.7,14,Sisters,Sisters,2019,NaN,"Action,Drama"
tt9886934,7.0,5,The Projectionist,The Projectionist,2019,81.0,Documentary
tt9894098,6.3,128,Sathru,Sathru,2019,129.0,Thriller

In [14]:
sorted_numvotes = leftjoin_rating_basics.sort_values(by='numvotes', ascending=False)

sorted_numvotes.head(20) #top 20 movies by number of votes

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi"
tt1345836,8.4,1387769,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller"
tt0816692,8.6,1299334,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi"
tt1853728,8.4,1211405,Django Unchained,Django Unchained,2012,165.0,"Drama,Western"
tt0848228,8.1,1183655,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi"
tt0993846,8.2,1035358,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama"
tt1130884,8.1,1005960,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller"
tt2015381,8.1,948394,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy"
tt1431045,8.0,820847,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy"
tt1392170,7.2,795227,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi"
tt2488496,8.0,784780,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
tt1392190,8.1,780910,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
tt2267998,8.1,761592,Gone Girl,Gone Girl,2014,149.0,"Drama,Mystery,Thriller"
tt0903624,7.9,719629,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy"
tt1454468,7.7,710018,Gravity,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller"
tt1300854,7.2,692794,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi"
tt1201607,8.1,691835,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy"
tt0800369,7.0,683264,Thor,Thor,2011,115.0,"Action,Adventure,Fantasy"
tt0435761,8.3,682218,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy"
tt3659388,8.0,680116,The Martian,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"

In [20]:
sorted_averatings = leftjoin_rating_basics.sort_values(by='averagerating', ascending=False).loc[leftjoin_rating_basics['numvotes'] >= 1000].head(50)

sorted_averatings

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt7131622,9.7,5600,Once Upon a Time ... in Hollywood,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama"
tt4131686,9.6,1339,I Want to Live,I Want to Live,2015,106.0,"Adventure,Biography,Documentary"
tt6058226,9.6,2604,Ekvtime: Man of God,Ekvtime: Man of God,2018,132.0,"Biography,Drama,History"
tt5963218,9.5,6509,Aloko Udapadi,Aloko Udapadi,2017,113.0,"Drama,History"
tt7738784,9.4,9629,Peranbu,Peranbu,2018,147.0,Drama
tt5354160,9.3,18470,Aynabaji,Aynabaji,2016,147.0,"Crime,Mystery,Thriller"
tt5813916,9.3,100568,The Mountain II,Dag II,2016,135.0,"Action,Drama,War"
tt5593384,9.3,1220,Truth and Justice,Tõde ja õigus,2019,165.0,Drama
tt2170667,9.3,17308,Wheels,Wheels,2014,115.0,Drama
tt6679360,9.2,2721,On vam ne Dimon,On vam ne Dimon,2017,50.0,Documentary
tt3557258,9.2,1119,Caur Adatu,Caur Adatu,2014,74.0,"Biography,Documentary,Drama"
tt5311546,9.2,4297,Natsamrat,Natsamrat,2016,166.0,"Drama,Family"
tt2592910,9.2,41560,CM101MMXI Fundamentals,CM101MMXI Fundamentals,2013,139.0,"Comedy,Documentary"
tt7391996,9.2,2195,C/o Kancharapalem,C/o Kancharapalem,2018,152.0,Drama
tt2869878,9.2,1172,The Poodles: In the Flesh,The Poodles: In the Flesh,2010,152.0,Documentary
tt5773402,9.2,1096,Dominion,Dominion,2018,120.0,Documentary
tt4733046,9.2,1015,The Weight of Chains 2,The Weight of Chains 2,2014,124.0,"Comedy,Documentary,History"
tt5510934,9.1,2973,The Unnamed,Oggatonama,2016,100.0,Drama
tt2412748,9.1,1013,Saving Mes Aynak,Saving Mes Aynak,2014,60.0,Documentary
tt5732482,9.1,1766,Hans Zimmer: Live in Prague,Hans Zimmer: Live in Prague,2017,150.0,"Documentary,Music"
tt9231140,9.1,4162,A Man Called Ahok,A Man Called Ahok,2018,102.0,Drama
tt5691226,9.0,1089,Pashupati Prasad,Pashupati Prasad,2016,140.0,"Drama,Romance"
tt1795369,9.0,1832,Frankenstein,National Theatre Live: Frankenstein,2011,130.0,Drama
tt8024712,9.0,2992,Yowis Ben,Yowis Ben,2018,99.0,"Comedy,Drama"
tt8948790,9.0,1778,Jersey,Jersey,2019,157.0,"Drama,Sport"
tt8176054,9.0,4854,Pariyerum Perumal,Pariyerum Perumal,2018,154.0,Drama
tt7794052,8.9,1240,Merku Thodarchi Malai,Merku Thodarchi Malai,2018,122.0,Drama
tt8160864,8.9,1656,Chase,Chase,2019,84.0,Thriller
tt5069074,8.9,2715,A Billion Lives,A Billion Lives,2016,95.0,"Documentary,History,News"
tt4909506,8.9,2001,Godhi Banna Sadharana Mykattu,Godhi Banna Sadharana Mykattu,2016,144.0,"Drama,Family"
tt4519488,8.9,1179,Mudras Calling,Mudras Calling,2018,95.0,"Adventure,Drama,Romance"
tt8413338,8.9,1947,Kumbalangi Nights,Kumbalangi Nights,2019,135.0,"Comedy,Drama,Romance"
tt5275892,8.9,14946,O.J.: Made in America,O.J.: Made in America,2016,467.0,"Biography,Crime,Documentary"
tt10312668,8.9,2111,Tell No One,Tylko nie mów nikomu,2019,121.0,Documentary
tt3417422,8.8,24326,Drishyam,Drishyam,2013,160.0,"Crime,Drama,Thriller"
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi"
tt4154796,8.8,441135,Avengers: Endgame,Avengers: Endgame,2019,181.0,"Action,Adventure,Sci-Fi"
tt5867800,8.8,8277,Aruvi,Aruvi,2016,130.0,Drama
tt1754109,8.8,4583,Les Misérables in Concert: The 25th Anniversary,Les Misérables in Concert: The 25th Anniversary,2010,178.0,"Drama,Music,Musical"
tt5870084,8.8,1180,Beyond Brotherhood,Mas Que Hermanos,2017,110.0,Drama
tt7019842,8.8,10903,96,96,2018,158.0,"Drama,Romance"
tt2077886,8.8,5926,The Phantom of the Opera at the Royal Albert Hall,The Phantom of the Opera at the Royal Albert Hall,2011,137.0,"Drama,Music,Musical"
tt9151704,8.8,2067,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,84.0,"Documentary,Music"
tt7060344,8.8,10518,Ratsasan,Ratsasan,2018,170.0,"Action,Crime,Thriller"
tt6023118,8.8,1227,Word from a Gamer,Word from a Gamer,2018,92.0,Documentary
tt5190958,8.8,1603,Katyar Kaljat Ghusali,Katyar Kaljat Ghusali,2015,162.0,Musical
tt6019206,8.8,3406,Kill Bill: The Whole Bloody Affair,Kill Bill: The Whole Bloody Affair,2011,247.0,"Action,Crime,Thriller"
tt7019942,8.8,2254,Super Deluxe,Super Deluxe,2019,176.0,"Action,Crime,Drama"
tt2414166,8.8,2082,Led Zeppelin: Celebration Day,Led Zeppelin: Celebration Day,2012,124.0,"Documentary,Music"
tt8665634,8.8,1431,Qismat,Qismat,2018,137.0,"Drama,Romance"

In [25]:
# leftjoin_rating_basics['primary_title'].loc['Titanic']

In [27]:
split_column_practice = df_tratings.copy()

split_column_practice

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [ ]:
pd.concat([split_column_practice