In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df_tratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

df_tratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [7]:
df_tbasics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

df_tbasics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [11]:
leftjoin_rating_basics = df_tratings.set_index('tconst').join(df_tbasics.set_index('tconst'), how='left', lsuffix='1', rsuffix='2')

leftjoin_rating_basics

# left joining on the ratings and basics tables since we care about the ratings of movies more than just movies that may or may not have a
# rating in these data sets. Every rating has a movie associated with it, but not vice versa

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt10356526,8.3,31,Laiye Je Yaarian,Laiye Je Yaarian,2019,117.0,Romance
tt10384606,8.9,559,Borderless,Borderless,2019,87.0,Documentary
tt1042974,6.4,20,Just Inès,Just Inès,2010,90.0,Drama
tt1043726,4.2,50352,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"
tt1060240,6.5,21,Até Onde?,Até Onde?,2011,73.0,"Mystery,Thriller"
...,...,...,...,...,...,...,...
tt9805820,8.1,25,Caisa,Caisa,2018,84.0,Documentary
tt9844256,7.5,24,Code Geass: Lelouch of the Rebellion - Glorifi...,Code Geass: Lelouch of the Rebellion Episode III,2018,120.0,"Action,Animation,Sci-Fi"
tt9851050,4.7,14,Sisters,Sisters,2019,NaN,"Action,Drama"
tt9886934,7.0,5,The Projectionist,The Projectionist,2019,81.0,Documentary
tt9894098,6.3,128,Sathru,Sathru,2019,129.0,Thriller

In [29]:
leftjoin_rating_basics.duplicated().sum() #No duplicates listed

0

In [14]:
sorted_numvotes = leftjoin_rating_basics.sort_values(by='numvotes', ascending=False)

sorted_numvotes.head(20) #top 20 movies by number of votes

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi"
tt1345836,8.4,1387769,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller"
tt0816692,8.6,1299334,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi"
tt1853728,8.4,1211405,Django Unchained,Django Unchained,2012,165.0,"Drama,Western"
tt0848228,8.1,1183655,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi"
tt0993846,8.2,1035358,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama"
tt1130884,8.1,1005960,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller"
tt2015381,8.1,948394,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy"
tt1431045,8.0,820847,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy"
tt1392170,7.2,795227,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi"
tt2488496,8.0,784780,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
tt1392190,8.1,780910,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
tt2267998,8.1,761592,Gone Girl,Gone Girl,2014,149.0,"Drama,Mystery,Thriller"
tt0903624,7.9,719629,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy"
tt1454468,7.7,710018,Gravity,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller"
tt1300854,7.2,692794,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi"
tt1201607,8.1,691835,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy"
tt0800369,7.0,683264,Thor,Thor,2011,115.0,"Action,Adventure,Fantasy"
tt0435761,8.3,682218,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy"
tt3659388,8.0,680116,The Martian,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"

In [80]:
sorted_averatings = leftjoin_rating_basics.sort_values(by='averagerating', ascending=False).loc[leftjoin_rating_basics['numvotes'] >= 50000].head(50)

sorted_averatings

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt5813916,9.3,100568,The Mountain II,Dag II,2016,135.0,"Action,Drama,War"
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi"
tt4154796,8.8,441135,Avengers: Endgame,Avengers: Endgame,2019,181.0,"Action,Adventure,Sci-Fi"
tt0816692,8.6,1299334,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi"
tt1424432,8.6,55318,Senna,Senna,2010,106.0,"Biography,Documentary,Sport"
tt4154756,8.5,670926,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"
tt5074352,8.5,123638,Dangal,Dangal,2016,161.0,"Action,Biography,Drama"
tt4633694,8.5,210869,Spider-Man: Into the Spider-Verse,Spider-Man: Into the Spider-Verse,2018,117.0,"Action,Adventure,Animation"
tt2582802,8.5,616916,Whiplash,Whiplash,2014,106.0,"Drama,Music"
tt1675434,8.5,677343,The Intouchables,Intouchables,2011,112.0,"Biography,Comedy,Drama"
tt1345836,8.4,1387769,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller"
tt2380307,8.4,277194,Coco,Coco,2017,105.0,"Adventure,Animation,Comedy"
tt1853728,8.4,1211405,Django Unchained,Django Unchained,2012,165.0,"Drama,Western"
tt5311514,8.4,134084,Your Name.,Kimi no na wa.,2016,106.0,"Animation,Drama,Fantasy"
tt1645089,8.3,65304,Inside Job,Inside Job,2010,109.0,"Crime,Documentary"
tt1832382,8.3,197684,A Separation,Jodaeiye Nader az Simin,2011,123.0,"Drama,Thriller"
tt6966692,8.3,204972,Green Book,Green Book,2018,130.0,"Biography,Comedy,Drama"
tt2106476,8.3,242765,The Hunt,Jagten,2012,115.0,Drama
tt4430212,8.3,54991,Drishyam,Drishyam,2015,163.0,"Crime,Drama,Mystery"
tt4849438,8.3,65656,Baahubali 2: The Conclusion,Baahubali 2: The Conclusion,2017,167.0,"Action,Drama"
tt0435761,8.3,682218,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy"
tt1255953,8.3,124156,Incendies,Incendies,2010,131.0,"Drama,Mystery,War"
tt2125608,8.2,58654,Searching for Sugar Man,Searching for Sugar Man,2012,86.0,"Biography,Documentary,Music"
tt2096673,8.2,536181,Inside Out,Inside Out,2015,95.0,"Adventure,Animation,Comedy"
tt3322420,8.2,55162,Queen,Queen,2013,146.0,"Comedy,Drama"
tt5027774,8.2,344047,"Three Billboards Outside Ebbing, Missouri","Three Billboards Outside Ebbing, Missouri",2017,115.0,"Crime,Drama"
tt1954470,8.2,69051,Gangs of Wasseypur,Gangs of Wasseypur,2012,321.0,"Action,Comedy,Crime"
tt2338151,8.2,138012,PK,PK,2014,153.0,"Comedy,Drama,Fantasy"
tt0993846,8.2,1035358,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama"
tt3170832,8.2,316791,Room,Room,2015,118.0,"Drama,Thriller"
tt2356180,8.2,54802,Bhaag Milkha Bhaag,Bhaag Milkha Bhaag,2013,186.0,"Biography,Drama,Sport"
tt1291584,8.2,403755,Warrior,Warrior,2011,140.0,"Drama,Sport"
tt2082197,8.1,68941,Barfi!,Barfi!,2012,151.0,"Comedy,Drama,Romance"
tt2631186,8.1,93243,Baahubali: The Beginning,Bahubali: The Beginning,2015,159.0,"Action,Drama"
tt0892769,8.1,611299,How to Train Your Dragon,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation"
tt1130884,8.1,1005960,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller"
tt4857264,8.1,84318,Contratiempo,Contratiempo,2016,106.0,"Crime,Mystery,Thriller"
tt1201607,8.1,691835,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy"
tt1454029,8.1,392699,The Help,The Help,2011,146.0,Drama
tt2278388,8.1,633604,The Grand Budapest Hotel,The Grand Budapest Hotel,2014,99.0,"Adventure,Comedy,Crime"
tt1392190,8.1,780910,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
tt2545118,8.1,56582,Blackfish,Blackfish,2013,83.0,"Documentary,Drama"
tt1821480,8.1,51830,Kahaani,Kahaani,2012,122.0,"Mystery,Thriller"
tt2024544,8.1,577301,12 Years a Slave,12 Years a Slave,2013,134.0,"Biography,Drama,History"
tt3741834,8.1,181601,Lion,Lion,2016,118.0,"Biography,Drama"
tt2119532,8.1,366904,Hacksaw Ridge,Hacksaw Ridge,2016,139.0,"Biography,Drama,History"
tt1979320,8.1,393437,Rush,Rush,2013,123.0,"Action,Biography,Drama"
tt1895587,8.1,365110,Spotlight,Spotlight,2015,129.0,"Crime,Drama"
tt3315342,8.1,560270,Logan,Logan,2017,137.0,"Action,Drama,Sci-Fi"
tt0848228,8.1,1183655,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi"

In [30]:
split_column_practice = leftjoin_rating_basics.copy()

split_column_practice

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt10356526,8.3,31,Laiye Je Yaarian,Laiye Je Yaarian,2019,117.0,Romance
tt10384606,8.9,559,Borderless,Borderless,2019,87.0,Documentary
tt1042974,6.4,20,Just Inès,Just Inès,2010,90.0,Drama
tt1043726,4.2,50352,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"
tt1060240,6.5,21,Até Onde?,Até Onde?,2011,73.0,"Mystery,Thriller"
...,...,...,...,...,...,...,...
tt9805820,8.1,25,Caisa,Caisa,2018,84.0,Documentary
tt9844256,7.5,24,Code Geass: Lelouch of the Rebellion - Glorifi...,Code Geass: Lelouch of the Rebellion Episode III,2018,120.0,"Action,Animation,Sci-Fi"
tt9851050,4.7,14,Sisters,Sisters,2019,NaN,"Action,Drama"
tt9886934,7.0,5,The Projectionist,The Projectionist,2019,81.0,Documentary
tt9894098,6.3,128,Sathru,Sathru,2019,129.0,Thriller

In [33]:
split_column_practice = pd.concat([split_column_practice['genres'], split_column_practice['genres'].str.split(',', expand=True)], axis=1)

split_column_practice

                              genres            0          1        2
tconst
tt10356526                   Romance      Romance       None     None
tt10384606               Documentary  Documentary       None     None
tt1042974                      Drama        Drama       None     None
tt1043726   Action,Adventure,Fantasy       Action  Adventure  Fantasy
tt1060240           Mystery,Thriller      Mystery   Thriller     None
...                              ...          ...        ...      ...
tt9805820                Documentary  Documentary       None     None
tt9844256    Action,Animation,Sci-Fi       Action  Animation   Sci-Fi
tt9851050               Action,Drama       Action      Drama     None
tt9886934                Documentary  Documentary       None     None
tt9894098                   Thriller     Thriller       None     None

[73856 rows x 4 columns]

In [63]:
split_column_practice.drop('genres', axis=1, inplace=True)

split_column_practice

                      0          1        2
tconst
tt10356526      Romance       None     None
tt10384606  Documentary       None     None
tt1042974         Drama       None     None
tt1043726        Action  Adventure  Fantasy
tt1060240       Mystery   Thriller     None
...                 ...        ...      ...
tt9805820   Documentary       None     None
tt9844256        Action  Animation   Sci-Fi
tt9851050        Action      Drama     None
tt9886934   Documentary       None     None
tt9894098      Thriller       None     None

[73856 rows x 3 columns]

In [66]:
split_column_practice = split_column_practice.apply(pd.Series.value_counts)

In [67]:
split_column_practice

                   0       1       2
Action        6988.0     NaN     NaN
Adult            1.0     2.0     NaN
Adventure     2596.0  1221.0     NaN
Animation      962.0   614.0   167.0
Biography     3433.0   347.0    29.0
Comedy       14649.0  2096.0   545.0
Crime         2494.0  1754.0   363.0
Documentary  13962.0  3258.0   533.0
Drama        18572.0  9836.0  2380.0
Family         604.0  1679.0  1129.0
Fantasy        429.0   957.0   740.0
Game-Show        1.0     1.0     NaN
History        136.0  1423.0  1266.0
Horror        4490.0  2397.0   787.0
Music          192.0  1025.0   751.0
Musical        153.0   296.0   272.0
Mystery        433.0  1564.0  1042.0
News             4.0   243.0   332.0
Reality-TV       5.0     3.0     9.0
Romance        786.0  3295.0  2508.0
Sci-Fi         388.0   855.0   963.0
Short            NaN     1.0     NaN
Sport           89.0   559.0   531.0
Thriller      1563.0  3048.0  3606.0
War             47.0   302.0   504.0
Western         75.0    84.0   121.0

In [69]:
split_column_practice['movie_genre_total'] = split_column_practice.sum(axis=1)

split_column_practice

                   0       1       2  movie_genre_total
Action        6988.0     NaN     NaN             6988.0
Adult            1.0     2.0     NaN                3.0
Adventure     2596.0  1221.0     NaN             3817.0
Animation      962.0   614.0   167.0             1743.0
Biography     3433.0   347.0    29.0             3809.0
Comedy       14649.0  2096.0   545.0            17290.0
Crime         2494.0  1754.0   363.0             4611.0
Documentary  13962.0  3258.0   533.0            17753.0
Drama        18572.0  9836.0  2380.0            30788.0
Family         604.0  1679.0  1129.0             3412.0
Fantasy        429.0   957.0   740.0             2126.0
Game-Show        1.0     1.0     NaN                2.0
History        136.0  1423.0  1266.0             2825.0
Horror        4490.0  2397.0   787.0             7674.0
Music          192.0  1025.0   751.0             1968.0
Musical        153.0   296.0   272.0              721.0
Mystery        433.0  1564.0  1042.0             3039.0
News             4.0   243.0   332.0              579.0
Reality-TV       5.0     3.0     9.0               17.0
Romance        786.0  3295.0  2508.0             6589.0
Sci-Fi         388.0   855.0   963.0             2206.0
Short            NaN     1.0     NaN                1.0
Sport           89.0   559.0   531.0             1179.0
Thriller      1563.0  3048.0  3606.0             8217.0
War             47.0   302.0   504.0              853.0
Western         75.0    84.0   121.0              280.0

In [77]:
split_column_practice.sort_values(by='movie_genre_total', ascending=False) 


# total genre count for all movies in the 'basics' table, filtered out so that each movie's multiple genres are separated. Not accurate of
# the top picks though

                   0       1       2  movie_genre_total
Drama        18572.0  9836.0  2380.0            30788.0
Documentary  13962.0  3258.0   533.0            17753.0
Comedy       14649.0  2096.0   545.0            17290.0
Thriller      1563.0  3048.0  3606.0             8217.0
Horror        4490.0  2397.0   787.0             7674.0
Action        6988.0     NaN     NaN             6988.0
Romance        786.0  3295.0  2508.0             6589.0
Crime         2494.0  1754.0   363.0             4611.0
Adventure     2596.0  1221.0     NaN             3817.0
Biography     3433.0   347.0    29.0             3809.0
Family         604.0  1679.0  1129.0             3412.0
Mystery        433.0  1564.0  1042.0             3039.0
History        136.0  1423.0  1266.0             2825.0
Sci-Fi         388.0   855.0   963.0             2206.0
Fantasy        429.0   957.0   740.0             2126.0
Music          192.0  1025.0   751.0             1968.0
Animation      962.0   614.0   167.0             1743.0
Sport           89.0   559.0   531.0             1179.0
War             47.0   302.0   504.0              853.0
Musical        153.0   296.0   272.0              721.0
News             4.0   243.0   332.0              579.0
Western         75.0    84.0   121.0              280.0
Reality-TV       5.0     3.0     9.0               17.0
Adult            1.0     2.0     NaN                3.0
Game-Show        1.0     1.0     NaN                2.0
Short            NaN     1.0     NaN                1.0

In [85]:
top_numgenres = sorted_numvotes.head(20).copy()

top_numgenres

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi"
tt1345836,8.4,1387769,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller"
tt0816692,8.6,1299334,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi"
tt1853728,8.4,1211405,Django Unchained,Django Unchained,2012,165.0,"Drama,Western"
tt0848228,8.1,1183655,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi"
tt0993846,8.2,1035358,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama"
tt1130884,8.1,1005960,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller"
tt2015381,8.1,948394,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy"
tt1431045,8.0,820847,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy"
tt1392170,7.2,795227,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi"
tt2488496,8.0,784780,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
tt1392190,8.1,780910,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi"
tt2267998,8.1,761592,Gone Girl,Gone Girl,2014,149.0,"Drama,Mystery,Thriller"
tt0903624,7.9,719629,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy"
tt1454468,7.7,710018,Gravity,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller"
tt1300854,7.2,692794,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi"
tt1201607,8.1,691835,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy"
tt0800369,7.0,683264,Thor,Thor,2011,115.0,"Action,Adventure,Fantasy"
tt0435761,8.3,682218,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy"
tt3659388,8.0,680116,The Martian,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi"

In [86]:
top_numgenres = pd.concat([top_numgenres, top_numgenres['genres'].str.split(',', expand=True)], axis=1)

top_numgenres

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,0,1,2
tconst,,,,,,,,,,
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt1345836,8.4,1387769,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",Action,Thriller,None
tt0816692,8.6,1299334,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",Adventure,Drama,Sci-Fi
tt1853728,8.4,1211405,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",Drama,Western,None
tt0848228,8.1,1183655,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt0993846,8.2,1035358,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",Biography,Crime,Drama
tt1130884,8.1,1005960,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller",Mystery,Thriller,None
tt2015381,8.1,948394,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",Action,Adventure,Comedy
tt1431045,8.0,820847,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy",Action,Adventure,Comedy
tt1392170,7.2,795227,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt2488496,8.0,784780,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",Action,Adventure,Fantasy
tt1392190,8.1,780910,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt2267998,8.1,761592,Gone Girl,Gone Girl,2014,149.0,"Drama,Mystery,Thriller",Drama,Mystery,Thriller
tt0903624,7.9,719629,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",Adventure,Family,Fantasy
tt1454468,7.7,710018,Gravity,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",Drama,Sci-Fi,Thriller
tt1300854,7.2,692794,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt1201607,8.1,691835,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy",Adventure,Drama,Fantasy
tt0800369,7.0,683264,Thor,Thor,2011,115.0,"Action,Adventure,Fantasy",Action,Adventure,Fantasy
tt0435761,8.3,682218,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",Adventure,Animation,Comedy
tt3659388,8.0,680116,The Martian,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi",Adventure,Drama,Sci-Fi

In [108]:
top_numgenres.rename(columns = {0:'genre 1', 1:'genre 2', 2:'genre 3'}, inplace=True)

top_numgenres

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,genre 1,genre 2,genre 3
tconst,,,,,,,,,,
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt1345836,8.4,1387769,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",Action,Thriller,None
tt0816692,8.6,1299334,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",Adventure,Drama,Sci-Fi
tt1853728,8.4,1211405,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",Drama,Western,None
tt0848228,8.1,1183655,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt0993846,8.2,1035358,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",Biography,Crime,Drama
tt1130884,8.1,1005960,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller",Mystery,Thriller,None
tt2015381,8.1,948394,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",Action,Adventure,Comedy
tt1431045,8.0,820847,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy",Action,Adventure,Comedy
tt1392170,7.2,795227,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt2488496,8.0,784780,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",Action,Adventure,Fantasy
tt1392190,8.1,780910,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt2267998,8.1,761592,Gone Girl,Gone Girl,2014,149.0,"Drama,Mystery,Thriller",Drama,Mystery,Thriller
tt0903624,7.9,719629,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",Adventure,Family,Fantasy
tt1454468,7.7,710018,Gravity,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",Drama,Sci-Fi,Thriller
tt1300854,7.2,692794,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi
tt1201607,8.1,691835,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy",Adventure,Drama,Fantasy
tt0800369,7.0,683264,Thor,Thor,2011,115.0,"Action,Adventure,Fantasy",Action,Adventure,Fantasy
tt0435761,8.3,682218,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",Adventure,Animation,Comedy
tt3659388,8.0,680116,The Martian,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi",Adventure,Drama,Sci-Fi

In [118]:
top_numgenres.columns[[-1, -3]].count(axis=1)

AttributeError: 'Index' object has no attribute 'count'